body {
    background-color: rgb(57, 57, 57);
}

h1 {
    color: white;
    text-align: center;
}

.image {
    text-align: center;
}

p {
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

a:focus {
    outline: none;
}
a:active {
    outline: none;
}

a:hover {
    color: rgb(146, 146, 146);
}

.resize {
    width: 500px;
    height: auto;
}